$headerHeight: 104px;

$sideNavWidth: 240px;

$primaryHorizontalSpacing: 2rem;
$primaryVerticalSpacing: 1rem;

$responsiveSm: 568px;
$responsiveMed: 912px;
$responsiveXL: 1024px;
$responsiveLg: 1356px;
