@import '../../../constants/scss/measures.scss';

.payments-page-search-bar {
  border-bottom: 1px solid #ccc;
  padding: $primaryVerticalSpacing $primaryHorizontalSpacing;
}
.payments-page-welcome {
  border-bottom: 1px solid #ccc;
  padding: $primaryVerticalSpacing $primaryHorizontalSpacing;
}
.payments-page-cards {
  border-bottom: 1px solid #ccc;
  padding: $primaryVerticalSpacing $primaryHorizontalSpacing;
}
.payments-page-data-grid {
  height: 400px;
  border-bottom: 1px solid #ccc;
  padding: $primaryVerticalSpacing $primaryHorizontalSpacing;
}
