@import '../../../constants/variables.scss';

.dashboard-page-container {
  height: 100%;
  overflow: auto;
}
.dashboard-page-search-bar {
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2rem 3rem;
  color: #aeaeae;
}
.dashboard-page-welcome {
  border-bottom: 1px solid #ccc;
  padding: 2rem 3rem;
}
.dashboard-page-cards {
  display: flex;
  gap: 2rem;
  border-bottom: 1px solid #ccc;
  padding: 2rem 3rem;
}
.dashboard-page-data-grid {
  height: 400px;
  border-bottom: 1px solid #ccc;
  padding: 2rem 3rem;
}
.dashboard-page-data-grid-wrapper {
  height: 90%;
  width: 100%;
}
.dashboard-page-data-grid-btns-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  height: 10%;
}

.dashboard-page-api-keys {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #aeaeae;
  border-radius: 8px;
}

.dashboard-page-api-keys-header {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #00bfa5;
  &:hover {
    cursor: pointer;
  }
  &:active,
  &:focus {
    outline: none;
  }
}
.dashboard-page-api-keys-body {
  padding: $primaryVerticalSpacing 0;
}

.dashboard-page-search-input {
  all: unset;
  width: 100%;
  &::placeholder {
    color: #aeaeae;
  }
}
